<section class="footer">
	<div class="constrainer">

		<div class="footer-col col-xs-6 col-sm-3">
			<img src="img/GSV-footer-logo.png">
			<p>© 2016 GSV Transportation<br>
			All rights reserved</p>
		</div>
		<div class="footer-col col-xs-6 col-sm-3">
			<a href="">About</a><br>
			<a href="">Management</a><br>
			<a href="">Safety</a><br>
			<a href="">Contact</a><br>
			<a href="">Track Equipment</a>
		</div>
		<div class="footer-col col-xs-6 col-sm-3">
			<a href="">Ship2Feed</a><br>
			<a href="">Mc/W9/ins</a><br>
			<a href="">Referrals</a><br>
			<a href="">Carrier411</a><br>
			<a href="">Track Equipment</a>
		</div>
		<div class="footer-col col-xs-6 col-sm-3">
			<a href="">Google+</a><br>
			<a href="">Facebook+</a><br>
			<a href="">Twitter+</a>
		</div>

	</div>
</section>