
<div class="modal" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="track" aria-hidden="true">
  <div class="constrainer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="myModalLabel">Give Feedback</h2>
        </div>

        <form class="modal-form-wrap clearfix" id="trackForm" action="">

          <input type="text" name="feedbackFullName" class="modal-field" id="feedbackFullName" placeholder="Full name">

          <input type="text" name="feedbackEmailAddress" class="modal-field" id="trackEmailAddress" placeholder="Email address">

          <textarea name="track-issue" class="track-textarea" placeholder="Let us know how we're doing or what we can improve on!"></textarea>
        
          <div class="modal-btn-container clearfix">
  			     <button type="button" class="modal-btn pull-right" id="submitButton" data-dismiss="modal">SUBMIT</button>
             <a class="modal-cancel pull-left" data-dismiss="modal" aria-label="Close">Cancel</a>
  		    </div>

        </form>
        
      </div>
    </div>
  </div>
</div>

