
<div class="modal" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="constrainer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="myModalLabel">Quote Modal </h4>
        </div>
        <p class="modal-body">
 			Thanks for signing up. Someone from our GSV Success team will contact you shortly to get your demo started. Please check your email for confirmation.
        </p>
        <div class="modal-btn-container">
			<button type="button" class="modal-btn" data-dismiss="modal">Thanks</a>
		</div>
        
      </div>
    </div>
  </div>
</div>

</div>


<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>