
<div class="modal" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="quote" aria-hidden="true">
  <div class="constrainer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="myModalLabel">Get a Quote</h2>
        </div>

        <form class="modal-form-wrap clearfix" id="quoteForm" action="">

          <input type="text" name="quotelName" class="modal-field" id="quoteName" placeholder="Full name">

          <input type="email" name="quoteEmail" class="modal-field-half pull-left" id="quoteEmail" placeholder="Email address">
          
          <input type="phone" name="quotePhone" class="modal-field-half pull-right" id="quotePhone" placeholder="Phone number">

          <input type="text" name="quotePickupZip" class="modal-field-half pull-left" id="quotePickupZip" placeholder="Pickup ZIP">

          <input type="text" name="quotePickupDate" class="modal-field-half pull-right" id="quotePickupDate" placeholder="Pickup date">

          <input type="text" name="quoteDeliveryZip" class="modal-field-half pull-left" id="quoteDeliveryZip" placeholder="Delivery ZIP">

          <input type="text" name="quoteDeliveryDate" class="modal-field-half pull-right" id="quoteDeliveryDate" placeholder="Delivery date">

          <input type="text" name="quoteCargoValue" class="modal-field" id="quoteCargoValue" placeholder="Cargo value (in dollars)">


          <div class="modal-weight-btns">
            <p class="cargo-weight-txt">Approximate cargo weight in lbs:</p>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="0-500"><span>0 - 500 lbs</span>
              </label>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="500-1000"><span>500 - 1000 lbs</span>
              </label>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="1000+"><span>1000 lbs+</span>
              </label>
          </div>
        
          <div class="modal-btn-container clearfix">
  			     <button type="submit" class="modal-btn pull-right" id="quote-button" data-dismiss="modal">SUBMIT</button>
             <a class="modal-cancel pull-left" data-dismiss="modal" aria-label="Close">Cancel</a>
  		    </div>

        </form>
        
      </div>
    </div>
  </div>
</div>

</div>