
<div class="modal" id="quote-modal" tabindex="-1" role="dialog" aria-labelledby="quote" aria-hidden="true">
  <div class="constrainer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="myModalLabel">Get a Quote</h2>
        </div>

        <form class="quote-form-wrap clearfix" id="quoteForm" action="">

          <input type="text" name="phone" id="quote-phone" placeholder="Phone number">

          <input type="text" name="pickup-address" class="pull-left" id="quote-pickup-field" placeholder="Pickup address">
          <input type="text" name="email" class="pull-right" id="quote-date-field" placeholder="Pickup date">

          <input type="text" name="pickup-address" class="pull-left" id="quote-delivery-field" placeholder="Delivery address">
          <input type="text" name="email" class="pull-right" id="quote-delivery-date-field" placeholder="Delivery date">

          <input type="text" name="email" class="pull-right" id="quote-cargo-value" placeholder="Cargo value (in dollars)">


          <div class="modal-weight-btns">
            <p class="cargo-weight-txt">Approximate cargo weight in lbs:</p>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="0-500"><span>0 - 500 lbs</span>
              </label>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="500-1000"><span>500 - 1000 lbs</span>
              </label>
              <label class="selectme">
                <input class="weightCheckbox" type="checkbox" value="1000+"><span>1000 lbs+</span>
              </label>
          </div>
        
          <div class="modal-btn-container clearfix">
  			     <button type="button" class="modal-btn pull-right" id="submitButton" data-dismiss="modal">SUBMIT</button>
             <a class="modal-cancel pull-left" data-dismiss="modal" aria-label="Close">Cancel</a>
  		    </div>

        </form>
        
      </div>
    </div>
  </div>
</div>

</div>