
<div class="modal" id="track-modal" tabindex="-1" role="dialog" aria-labelledby="track" aria-hidden="true">
  <div class="constrainer">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 id="myModalLabel">Track a Shipment</h2>
        </div>

        <form class="modal-form-wrap clearfix" id="trackForm" action="">

          <input type="text" name="trackFullName" class="modal-field" id="trackFullName" placeholder="Full name">

          <input type="text" name="trackEmailAddress" class="modal-field" id="trackEmailAddress" placeholder="Email address">
          <input type="text" name="trackNumber" class="modal-field" id="trackNumber" placeholder="Tracking number">

          <textarea name="track-issue" class="track-textarea" placeholder="Please describe any issues you may be having with your shipment."></textarea>
        
          <div class="modal-btn-container clearfix">
  			     <button type="button" class="modal-btn pull-right" id="submitButton" data-dismiss="modal">SUBMIT</button>
             <a class="modal-cancel pull-left" data-dismiss="modal" aria-label="Close">Cancel</a>
  		    </div>

        </form>
        
      </div>
    </div>
  </div>
</div>

