

<section id="subpage-nav-dropdown">
	<div class="constrainer">
		<a href="/about" class="subpage-nav-dropdown-item clearfix">
			<div class="nav-dropdown-label pull-left">
				<p>About</p>
			</div>
		</a>
		<a href="/work" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Management</p>
			</div>
		</a>
		<a href="" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Safety</p>
			</div>
		</a>
		<a href="/contact" class="subpage-nav-dropdown-item clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Contact</p>
			</div>
		</a>
		<a data-toggle="modal" data-target="#track-modal" class="subpage-nav-dropdown-item subpage-nav-dropdown-item-last clearfix">
			<div class="subpage-nav-dropdown-label pull-left">
				<p>Track</p>
			</div>
		</a>
	</div>
</section>

<!-- TRACK MODAL -->
<% include ../partials/modal-track %>