<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>


	<!-- CAREERS COVER -->

	<div class="AboutCover">
	<section class="about-banner-txt">

		<div class="constrainer">
			<p class="about-banner-header-txt">Bringing drivers back into the industry one delivery at a time.</p>
		</div>

	</section>
	</div>


	<!-- CAREERS BODY -->

	<section class="careers-txt">
		<div class="constrainer">

			<p class="careers-txt-header">Take a look at our open positions:</p>
			<p class="careers-txt">If you would like to be considered, send an email to <span>jobs@gsvtranz.net</span> and include the following:</p>

			<ul class="careers-ul">
				<li><i class="fa fa-check"></i>Cover letter in the body of the email</li>
				<li><i class="fa fa-check"></i>Which position you are applying for</li>
				<li><i class="fa fa-check"></i>Resume attached</li>
				<li><i class="fa fa-check"></i>When you are available to start</li>
			</ul>
			<div class="apply-btn-wrap">
				<a class="apply-btn" data-toggle="modal" data-target="#demo-modal">Apply</a>
			</div>

		</div>
	</section>


	<!-- FOOTER -->
	<% include ../partials/footer %>



</body>


</html>



