<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>

<body>

	<div class="CoverImage">


	<!-- HOME MAIN NAV -->

	<section class="nav-main">
		<div class="nav-constrainer">
			<div class="nav-logo pull-left">
				<a><img src="img/gsv-logo-white.png"></a>
			</div>
			<div class="nav-mobile-button pull-right">
				<a class="nav-mobile-button-anchor" id="drop-nav-expand">
					<i class="fa fa-chevron-down"></i>
	      		</a>
			</div>
			<div class="nav-items pull-right">
				<a>About</a>
				<a>Management</a>
				<a>Safety</a>
				<a>Contact</a>
	      		<a>Track</a>
			</div>
		</div>
	</section>


	<!-- HOME MOBILE NAV -->

	<section id="nav-dropdown">
		<div class="constrainer">
			<a class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>About</p>
				</div>
			</a>
			<a class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Management</p>
				</div>
			</a>
			<a class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Safety</p>
				</div>
			</a>
			<a class="nav-dropdown-item clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Contact</p>
				</div>
			</a>
			<a class="nav-dropdown-item nav-dropdown-item-last clearfix">
				<div class="nav-dropdown-label pull-left">
					<p>Track</p>
				</div>
			</a>
		</div>
	</section>


	<!-- HOME BANNER TEXT/ FIELDS -->

	<section class="banner-txt">

		<div class="constrainer">
			<p class="banner-header">Consider it shipped.</p>
			<p class="banner-header-sub">GSV is a new kind of shipping company, championing speed, transparency and attention to detail.</p>
			<div class="quote-container clearfix">
				<input type="text" name="email" class="pull-left" id="what-field" placeholder="What would you like to ship?">
				<input type="text" name="email" class="pull-left" id="zip-field" placeholder="ZIP Code">
				<a class="search-btn pull-left" data-toggle="modal" data-target="#quote-modal">Get a Quote</a>
			</div>
		</div>

	</section>

	</div>	<!-- CLOSE COVER IMG -->


	<!-- QUOTE MODAL -->
	<% include ../partials/modal-quote %>


	<!-- STEPS -->
		
	<section class="steps clearfix">

		<div class="constrainer">
			<div class="section-wrap">
				<h1 class="section-header">Tell us what you need. Get a free quote. Be amazed by our speed and service.</h1>
				<span class="section-bullet">How GSV Works</span>
			</div>

			<div class="step-container clearfix">
				<div class="step-txt col-xs-8">
					<p class="step-header">1. Give us a shout</p>
					<p class="step-graph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. </p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/square.png">
				</div>
			</div>

			<div class="step-container clearfix">
				<div class="steps-img col-xs-4">
					<img src="img/square.png">
				</div>
				<div class="step-txt col-xs-8">
					<p class="step-header">2. Talk specifics with our team</p>
					<p class="step-graph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. </p>
				</div>
			</div>

			<div class="step-container clearfix">
				<div class="step-txt col-xs-8">
					<p class="step-header">3. Watch the speed and efficiency</p>
					<p class="step-graph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna.</p>
				</div>
				<div class="steps-img col-xs-4">
					<img src="img/square.png">
				</div>
			</div>

		</div>

	</section>


	<!-- STATES -->

	<section class="shaded-section clearfix">
		<div class="constrainer">
		<h1 class="shaded-header">Opperating in 48 states</h1>
			<div class="states-list col-xs-6 col-sm-3">
				Alabama<br>
				Alaska<br>
				Arizona<br>
				Arkansas<br>
				California<br>
				Colorado<br>
				Connecticut<br>
				Delaware<br>
				Washington, DC<br>
				Florida<br>
				Georgia<br>
				Idaho<br>
				Illinois<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Indiana<br>
				Iowa<br>
				Kansas<br>
				Kentucky<br>
				Louisiana<br>
				Maine<br>
				Maryland<br>
				Massachusetts<br>
				Michigan<br>
				Minnesota<br>
				Mississippi<br>
				Missouri<br>
				Montana<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				Nebraska<br>
				Nevada<br>
				New Hampshire<br>
				New Jersey<br>
				New Mexico<br>
				New York<br>
				North Carolina<br>
				North Dakota<br>
				Ohio<br>
				Oklahoma<br>
				Oregon<br>
				Pennsylvania<br>
				Rhode Island<br>
			</div>
			<div class="states-list col-xs-6 col-sm-3">
				South Carolina<br>
				South Dakota<br>
				Tennessee<br>
				Texas<br>
				Utah<br>
				Vermont<br>
				Virginia<br>
				Washington<br>
				West Virginia<br>
				Wisconsin<br>
				Wyoming
			</div>
		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>