<!DOCTYPE html>
<html>

<head>
	<% include ../partials/head %>
</head>

<body>

	<!-- SUBPAGE MAIN NAV -->
	<% include ../partials/subpage-nav-main.ejs %>

	<!-- SUBPAGE MOBILE NAV -->
	<% include ../partials/subpage-nav-mobile.ejs %>


	<!-- TEAMS -->

	<section class="teams clearfix">

		<div class="constrainer">
			<div class="section-wrap">
				<h1 class="section-header">Our management and technitions ensure quality service for our clients and partners.</h1>
				<span class="section-bullet">Organization and Teams</span>
			</div>

			<!-- ALPHA TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Alpha Team<br> Relationship Builders</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Pricing</li>
						<li><i class="fa fa-check"></i>Client Services</li>
						<li><i class="fa fa-check"></i>Partner development</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/hands.png" class="pull-right">
				</div>
			</div>

			<!-- DELTA TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Delta Team<br>Training and Leadership</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Ensure best practices</li>
						<li><i class="fa fa-check"></i>Policy updates</li>
						<li><i class="fa fa-check"></i>Proactive communication</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/leadership.png" class="pull-right">
				</div>
			</div>


			<!-- BRAVO FORCE -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Bravo Force<br>Planning</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Aliquam at porttitor sem</li>
						<li><i class="fa fa-check"></i>Aliquam erat volutpat</li>
						<li><i class="fa fa-check"></i>Donec placerat nisl magna</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/planning.png" class="pull-right">
				</div>
			</div>

			<!-- SEAL TEAM -->

			<div class="teams-container clearfix">
				<div class="teams-badge col-xs-4 col-sm-2">
					<img src="img/star-badge.png">
				</div>
				<div class="teams-txt col-xs-8 col-sm-6">
					<p class="teams-txt-header">Seal Team<br>Dock Technitions</p>
					<ul class="teams-ul">
						<li><i class="fa fa-check"></i>Muscle</li>
						<li><i class="fa fa-check"></i>Safety</li>
						<li><i class="fa fa-check"></i>Training</li>
					</ul>
				</div>
				<div class="teams-img col-sm-4">
					<img src="img/dock.png" class="pull-right">
				</div>
			</div>



		</div>

	</section>


	<!-- HOW WE WORK SHADED -->

	<section class="shaded-section clearfix">
		<div class="constrainer">

			<h1 class="shaded-header">How We Work</h1>
			<div class="shaded-work-txt">
				<p><span>TENENTS:</span> Core tenets are proactive checks and communication, attention to detail and response time to our partners</p>
				<p><span>ORGANIZATION:</span> GSV is split into teams, alpha for pricing, bravo force for planning, seal team for warehousing, delta for customer service</p>
				<p><span>RESPECT:</span> We rest on one core philosophy: show respect through actions to those who you deal with on a daily basis</p>
			</div>

		</div>
	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>

</body>


</html>




